---
import Layout from '@/layouts/Layout.astro';
import Badge from '@/components/Badge.astro';
import Social from '@/components/Social.astro';
import Projects from '@/components/Projects.astro';
import AboutMe from '@/components/AboutMe.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import LinkedInIcon from '@/icons/LinkedIn.astro';
import GithubIcon from '@/icons/Github.astro';
import EmailIcon from '@/icons/Email.astro';
import CodeIcon from '@/icons/Code.astro';
import UserIcon from '@/icons/User.astro';
import CVIcon from '@/icons/FileCV.astro'
---

<Layout
    title="Portfolio de Nahuel - Desarrollador y Programador Web junior"
    description="Contratame para crear tu aplicación web o móvil. Desarrollador web. Especializado en crear aplicaciones únicas"
>
    <main class="px-4">
        <SectionContainer class="py-16 mt-10 gap-x-4 md:px-35">
            <div class="flex mt-10 mb-4">
                <img
                    class="rounded-full shadow-lg w-25 h-12 mb-4"
                    src="./profile.webp"
                    alt="Foto de perfil"
                />
                <a
                    href="https://www.linkedin.com/in/nahuel-lescano-906a2618b/"
                    target="_blank"
                    rel="noopener"
                    class="flex items-center transition md:justify-center md:hover:scale-105">
                    <Badge>Disponible para trabajar</Badge>
                </a>
            </div>
            <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
                Hey, soy Nahuel
            </h1>
            <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
                <span>+2 años de experiencia.</span>
                <span class="text-yellow-200/90"> Desarrollador web.</span>
                <span> De Buenos Aires, Argentina.</span>
                <span class="opacity-70"> Especializado en crear páginas únicas.</span>
            </h2>
            <nav class="flex mt-8 mb-8 gap-4 md:gap-2 flex-wrap">
                <Social href="https://www.linkedin.com/in/nahuel-lescano-906a2618b/">
                    <LinkedInIcon class="size-4 md:size-6" />
                    LinkedIn
                </Social>

                <Social href="https://github.com/NahuelLescano">
                    <GithubIcon class="size-4 md:size-6" />
                    Github
                </Social>

                <Social href="mailto:nahuellescano1012@gmail.com">
                    <EmailIcon class="size-4 md:size-6" />
                    Contáctame
                </Social>
                <Social href="./CV.pdf">
                    <CVIcon class="size-4 md:size-6"/>
                    Mi CV
                </Social
            </nav>
        </SectionContainer>

        <SectionContainer id="proyectos">
            <h2 class="text-3xl font-semibold mb-5 flex items-center gap-x-2">
                <CodeIcon class="size-8" />
                Proyectos
            </h2>
            <Projects />
        </SectionContainer>

        <SectionContainer id="sobre-mi">
            <h2 class="text-3xl font-semibold mb-5 flex items-center gap-x-2">
                <UserIcon class="size-8"/>
                Sobre mi
            </h2>
            <AboutMe />
        </SectionContainer>
    </main>
</Layout>
