<article
    class="flex flex-col items-center justify-center gap-8 text-white md:flex-row">
    <p class="text-pretty [&>strong]:text-blue-500/60">
        Me llamo Nahuel. Comencé mi camino estudiando Ingeniería informática en la UBA, <strong>donde aprendí las bases de la programación.</strong>
        También realicé realicé un bootcamp soy Henry donde <strong>aprendí desarrollo full stack.</strong> <br />
        <strong>Actualmente me recibi de Analista de Sistemas en la ORT Argentina</strong> y me encuentro buscando mi primer empleo IT.
    </p>
    <img
        src="/profile.webp"
        alt="Foto de perfil"
        class="object-cover w-64 h-full p-1 rotate-3 aspect-square rounded-2xl bg-black/20 ring-1 ring-black-70"
    />
</article>
