<header
    class="fixed top-0 z-10 flex justify-between items-center py-6 w-full xl:w-[1120px] px-2">
    <img
        class="rounded-full size-12"
        src="./profile.jpg"
        alt="Profile photo" />
    <nav class="flex px-3 text-sm flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experencias">Experiencias</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mi</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>
