---
const { href } = Astro.props;
---

<a
    href={href}
    class="inline-flex items-center justify-center gap-2 ml-2 px-2 py-3 space-x-2
    text-base text-white text-md transition bg-gray-800 border border-gray-600
    hover:border-gray-900 group max-w-fit rounded-xl active:bg-black
    hover:scale-125"
>
    <slot />
</a>

