<article
    class="flex flex-col items-center justify-center gap-4 md:gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-200 [&>p>strong]:font-normal
        text-pretty order-2 md:order-1 text-center md:text-left"
    >
        <p class="text-sm md:text-base lg:text-lg text-pretty">
            Me llamo Nahuel y desde siempre me interesó la tecnología. Comencé
            mi camino académico en la carrera de Ingeniería Informática en la
            UBA,
            <strong
                >donde adquirí las bases de la programación y el pensamiento
                lógico.</strong
            >
            Más adelante, participé en el bootcamp Soy Henry,
            <strong
                >donde me capacité en desarrollo full stack trabajando con
                proyectos prácticos y metodologías ágiles.</strong
            >
            <strong
                >Recientemente me recibí de Analista en Sistemas en la ORT
                Argentina,</strong
            >
            lo que consolidó mis conocimientos en programación, bases de datos y
            gestión de proyectos. Actualmente me encuentro en la búsqueda de mi primer
            empleo en IT, con el objetivo de seguir aprendiendo, aportar valor a
            un equipo de desarrollo y crecer profesionalmente en el área.
        </p>
    </div>

    <img
        src="./profile.webp"
        alt="Nahuel Profile Picture"
        width="200"
        height="200"
        class="order-1 object-cover w-48 md:w-56 lg:w-64 h-full p-1 md:order-2 rotate-2 md:rotate-3 lg:p-2 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-100/5 ring-1 ring-black/70 dark:ring-white/20 flex-shrink-0"
        style="object-position: 50% 50%;"
    />
</article>
